body.header {
    font-family: Consolas, monaco, monospace;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 0px;
}

hr.new2{
    position: relative;
    border: 3px solid black;
    padding-left: 0%;
    padding-right: 0%;
    top: -75px;
}

img.linkedin{
    position: relative;
    height: 40px;
    padding-left: 33%;
    top: -80px;
}
img.resume{
    position: relative;
    height: 60px;
    padding-left: 0%;
    top: -71px;
}

p.email{
    position: relative;
    top: -165px;
    left: 55%;
}   

p.phone{
    position: relative;
    top: -167px;
    left: 55%;
}

img.welcome{
    position: relative;
    height: 150px;
    top: -150px;
}

p.desc{
    position: relative;
    top: -305px;
    left: 33%;
    font-size: 130%;
    padding-right: 30%;
}

hr.new3{
    position: relative;
    border: 3px solid black;
    padding-left: 0%;
    padding-right: 0%;
    top: -300px;
}

h1.name{
    position: relative;
    font-size: 200%;
    padding-right: 66%;
}